<main>
    <div class="resultaat">
        <h1>Minor Web Design & Development</h1>
        <h2>Bedankt voor het invullen van de enquete!</h2>

        <h3>Hieronder kan je nog een keer bekijken wat je hebt ingevuld.</h3>
        <p>Naam: {{data.naam}}</p>
        <table>
            <tr>
                <th>{{data.vaknaam.[0]}}</th>
                <th>{{data.vaknaam.[1]}}</th>
                <th>{{data.vaknaam.[2]}}</th>
            </tr>
            <tr>
                <td>{{data.docenten.[0]}}</td>
                <td>{{data.docenten.[1]}}</td>
                <td>{{data.docenten.[2]}}</td>
            </tr>
            <tr>
                <td>{{data.weken.[0]}}</td>
                <td>{{data.weken.[1]}}</td>
                <td>{{data.weken.[2]}}</td>
            </tr>
            <tr>
                <td>Lesstof</td>
                <td>Lesstof</td>
                <td>Lesstof</td>
            </tr>
            <tr>
                <td>{{data.lesstof.[0]}}</td>
                <td>{{data.lesstof.[1]}}</td>
                <td>{{data.lesstof.[2]}}</td>
            </tr>
            <tr>
                <td>Uitleg</td>
                <td>Uitleg</td>
                <td>Uitleg</td>
            </tr>
            <tr>
                <td>{{data.uitleg.[0]}}</td>
                <td>{{data.uitleg.[1]}}</td>
                <td>{{data.uitleg.[2]}}</td>
            </tr>
            <tr>
                <td>Eigen inzicht</td>
                <td>Eigen inzicht</td>
                <td>Eigen inzicht</td>
            </tr>
            <tr>
                <td>{{data.eigen.[0]}}</td>
                <td>{{data.eigen.[1]}}</td>
                <td>{{data.eigen.[2]}}</td>
            </tr>
        </table>
    </div>
</main>